---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de sitio">
    <h2>Sobre nosotros</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, nam? Delectus nostrum officiis quae, iure nesciunt suscipit, obcaecati labore nemo, id ab aliquid reiciendis eos commodi libero voluptas ipsa sunt? Nemo repudiandae beatae officia molestiae. Nesciunt aliquam tempora harum quo mollitia id ducimus sequi eum vel nam eos atque veritatis alias odio libero fugiat nemo sed pariatur modi obcaecati, a accusantium! Nesciunt corrupti voluptatem, a id, eum nobis quae deleniti dicta repudiandae illo, velit soluta inventore accusantium rerum quod? Nulla odit aperiam corrupti voluptatum sequi quia harum obcaecati, quos, libero sunt iusto distinctio inventore illum neque recusandae explicabo laboriosam cupiditate?
    </p>
</Layout>