
<!-- flex, luego flex col para movile y usamos la propiedad MD para pantallas medianas de pc con la propiedad flex-row que seria al lado -->

<header class="bg-zinc-800 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl">
  <div>
    <h1 class="text-5xl font-bold">Title del sitio</h1>
    <p class="my-4 text-2xl text-justify md:w-4/5">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa accusantium sint sit, porro neque doloremque quam. Animi labore voluptate sunt.
    </p>

    <!-- px = padign izquierda derecha -->
    <!-- py = pading arriba y abajo -->

    <button class="bg-indigo-500 rounded-lg px-3 py-2 hover:bg-indigo-400"> Start now</button>
  </div>
  <img src="images/newyear.svg" class="w-80" alt="" />
</header>
